/* Estilos para a barra de navegação quando a tela tem largura maior que 480px */
#nav1 {
    padding: 20px 100px; /* Espaçamento interno */
    background: linear-gradient(rgb(7, 0, 112), rgb(31, 7, 252), rgb(1, 95, 16)); /* Fundo gradiente */
}

.nav-bar i {
    font-size: 50px; /* Tamanho do ícone */
}

.nav-bar ul {
    display: flex; /* Exibe a lista como flexbox */
    flex-direction: row; /* Organiza os itens na horizontal */
    justify-content: center; /* Centraliza horizontalmente os itens */
    list-style-type: none; /* Remove marcadores de lista */
}

.nav-bar li {
    font-style: oblique; /* Estilo da fonte inclinada */
    margin-right: 20px; /* Espaçamento entre os elementos li */
}

.nav-bar a {
    color: antiquewhite; /* Cor dos links */
}
.menu-button{
    display: none;
}


/* Estilos para a barra de navegação quando a tela tem largura igual ou menor que 480px */
@media screen and (max-width: 480px) {
    #nav1 {
        padding: 20px 100px;
        background: linear-gradient(rgb(7, 0, 112), rgb(31, 7, 252), rgb(1, 95, 16));
        position: fixed;
        width: 5%;
        height: 100%;
        right: -70%;
        top: 0;
        transition: right 0.5s ease;
    }

    .nav-bar i {
        font-size: 50px;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2; /* Certifica-se de que o botão esteja acima do menu */
    }
}